
TourismDXP/packages
TourismDXP/TourismDXP.Data/bin
TourismDXP/TourismDXP.Data/obj
TourismDXP/TourismDXP.Admin/bin
TourismDXP/.vs
TourismDXP/TourismDXP.Core/bin
TourismDXP/TourismDXP.Core/obj
TourismDXP/TourismDXP.Services/bin
TourismDXP/TourismDXP.Services/obj
TourismDXP/TourismDXP.Admin/obj
