
@{
    ViewBag.Title = "Password Change Confirmation";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}


<div class="card col-md-5  shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">@ViewBag.Title </h1>
        </div>

        <section id="loginForm" class="resetpassword-section" style="padding:20px">
            <p style="text-align:center">
            @ViewBag.Message.
            </p>

        </section>

    </div>
</div>

