<div style="width:700px; margin:auto; font-family:Arial">
    <table width="700" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border:1px solid #ddd">
        <tbody>
            <tr>
                <td colspan="2" style="font-size:30px;color:#4382B6;width: 100%; padding:20px ;">Hello #name#</td>
            </tr>
            <tr>
                <td colspan="2" height="50" style="background: #4382B6;"></td>
            </tr>
            <tr>
                <td colspan="2" style="padding:20px 50px">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="color:#444; font-size:17px">You need to set your TOURISM DXM password to access your account.</td>
                            </tr>
                            <tr>
                                <td style="color:#000000; font-size:17px">Please set your password by clicking <a href ="#url#">here</a></td>
                            </tr>
                        <tr>
                            <td style="color:#444; font-size:17px">If you ignore this message, your password won't be set.</td>
                        </tr>
                            <br />
                        <tr>
                            <td style="color:#623f5f; font-size:17px; padding-bottom:30px">TOURISM DXM Support Teams</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:5px;  background: #4382B6;"></td>
            </tr>
            <tr>
                <td align="center" colspan="2" style="background:#fff; text-align:center; padding:20px 15px">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td align="center" style="text-align:center"><img style="max-width: 60px;width: 100%;" src="~/Content/images/u-logo-img.png"></td>
                            </tr>
                            <tr>
                                <td align="center" style="font-size:18px; color:#942984;text-align:center">www.TOURISMDXM.com</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>